html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
  
}

main {
  padding: 20px;
  margin-top: 140px;
}

main p {
  /* text-align: justify; */
  font-size: 1.3rem;
  line-height: 1.4;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  scroll-margin-top: 90px;
}

section a {
  color: var(--link-color);
}

.profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  float: right;
  margin: 0 0 10px 20px;
  border-radius: 50%;
  border: 2px solid var(--link-color);
}

.divider {
  border: none;
  height: 3px;
  background: linear-gradient(to right, transparent, var(--divider-color), transparent);
  width: 51%;
  margin: 60px auto;
  border-radius: 2px;
}

#about p {
  text-align: justify;
}

.news-list {
  font-size: 1.3rem;
  text-align: justify;
  list-style: none;
  padding: 0;
}

.news-list li {
  margin-bottom: 1em;
}

.news-list strong {
  color: var(--link-color);
}

.pub-card {
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 1.5em;
}

#pub p {
  margin: 0;
  margin-bottom: 1vh;
}

.pub-links {
  margin: 0;
}

.pub-links .btn {
  display: inline-block;
  margin-right: 10px;
  padding: 0.15vh 0.3vw;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid var(--link-color);
  color: var(--link-color);
  transition: all 0.3s ease;
}

.pub-links .btn:hover {
  color: #fff;
  background-color: var(--link-color);
  border-color: var(--link-color);
}

.pub-img img {
  width: 120px;        /* thumbnail size */
  height: auto;        /* keeps aspect ratio */
  border-radius: 8px;  /* smooth rounded corners */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* subtle shadow */
}

.enable-transition {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}



#research {
  text-align: justify; /* or remove this rule entirely */
}

.project-figure {
  display: block;       /* Makes figure act like a block */
  margin: 0 auto;       /* Centers it horizontally */
  text-align: center;   /* Centers the caption inside the figure */
  max-width: 800x;     /* Optional: limits figure size */
}

.figure_caption{
  text-align: center;
}




/* Mobile */
@media (max-width: 768px) {
  main {
    margin-top: 140px;
  }

  main p {
    font-size: 1.1rem;
  }

  section {
    scroll-margin-top: 130px;
  }

  .profile {
    width: 180px;
    height: 180px;
    float: none;
    display: block;
    margin: 0 auto 15px;
    border-radius: 50%;
  }

  .divider {
    width: 90%;
  }

  #pub p {
    font-size: 0.9rem;
  }

  .pub-links .btn {
    font-size: 0.85rem;
    padding: 0.2vh 1vw;
    margin-right: 8px;
    margin-bottom: 5px;
  }


  


}